<!DOCTYPE html>
<html>
<head>
  <title>Auth App</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<div id="wrapper">


  <div>
    <%= yield %>
  </div>

</div>
</body>
</html>