<h3>Register here</h3>
<form method="post" action="/registration">
  <label for="username">Username: <input name="username"></label><br>
  <label for="password">Password: <input name="password" type="password"></label><br>
  <button type="submit">Submit</button>
</form>