<form method="get" action="/registration">
  <button id="register">Register</button>
</form>
<br>
<h2 id="or">OR</h2>
<br>
<form action="/login" method="post">
  <dl>
    <dt><label for="username">Username:</label></dt>
    <dd><input id="username" name="username"></dd>
    <dt><label for="password">Password:</label></dt>
    <dd><input type="password" id="password" name="password"></dd>
  </dl>
  <button id="login">Login</button>
</form>